* {
  margin: 0;
  padding: 0;
}

html {
  background-color: orange;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;

  flex-flow: column wrap;
  flex-basis: 19%;
  justify-content: center;
  align-content: space-between;
}

.shape {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 19%;
}

.box{
  border-style: solid;
}

.dotted {
  border-style: dotted
}

.round {
  border-style: solid;
  border-radius: 10vmax;
}